fastapi==0.115.12
uvicorn==0.34.2
numpy==1.26.4  # Downgrade obligatorio para TensorFlow 2.19
opencv-python==4.11.0.86
tensorflow==2.19.0
mtcnn==1.0.0
psycopg2-binary==2.9.10
python-dotenv==1.1.0
urllib3==2.4.0

# Dependencias secundarias (evitan conflictos)
protobuf==3.20.3  # TensorFlow 2.19 necesita protobuf <4
h5py==3.10.0  # Versión estable para TF 2.19
