fastapi==0.115.12
uvicorn==0.34.2
numpy<2.0  # Para evitar numpy 2.x que puede romper compatibilidad
opencv-python==4.11.0.86
tensorflow==2.19.0
mtcnn==1.0.0
psycopg2-binary==2.9.10
python-dotenv==1.1.0
urllib3==2.4.0
